.prcontainer{
  text-align: center;
  width: 100vw;
}

.projrw{
  padding-bottom: 3vh;
}

.prgif{
  filter: blur(0) grayscale(0%);
  width: 35vw;
  transition: all 1s ease;
}

.prgif:hover{
  filter: blur(3px) grayscale(50%);
}

#projab{
  padding-bottom: 2vh;
  text-align: left;
}

.icons{
  padding-right: 10px;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .aboutimg{
    width: 80vw;
  }
  .prgif{
    width: 80vw;
    filter: blur(0) grayscale(0%);
  }
}


@media only screen and (min-width : 1800px) {
  .prgif{
    width: 570px;
    height: 450px;
  }
}

#projtitle{
  padding-bottom: 10px;
  text-decoration: underline;
}
