.prcontainer{
  text-align: center;
  width: 100vw;
}

.projrw{
  padding-bottom: 3vh;
}

.prgif{
  filter: blur(3px) grayscale(50%);
  width: 35vw;
}

.prgif:hover{
  filter: blur(0) grayscale(0%);
}

#projab{
  padding-bottom: 2vh;
  text-align: left;
}

.icons{
  padding-right: 10px;
}

@media only screen and (max-width : 480px) and (orientation: portrait) {
  .aboutimg{
    width: 80vw;
  }
}
