.prcontainer{
  text-align: center;
  width: 100vw;
}

.projrw{
  padding-bottom: 3vh;
}

.prgif{
  filter: blur(3px) grayscale(50%);
}

.prgif:hover{
  filter: blur(0) grayscale(0%);
}

#projab{
  padding-bottom: 2vh;
  text-align: left;
}

.icons{
  padding-right: 10px;
}
