#pp{
  max-width: 30vw;
  height: auto;
  filter: grayscale(60%);
  margin-top: 2em;
  border-radius: 25px;
}

#pp:hover{
  filter: blur(0px);
}

.ColHeader{
  text-align: center;
}

.abcontainer{
  text-align: center;
  width: 100vw;
}

.contactrow{
  padding-bottom: 10px;
}

.fa{
  color: black;
  padding: 0 15px;
}

.skillIcons{
  font-size: 5vh;
  display: inline-block;
  word-wrap: auto;
}

.skillIcons > *{
  padding-left: 10px;
}

p{
  font-size: 1.5em;
}

input, textarea{
  width: 80vw;
}

label{
  padding-right: 77vw;
}

.input{
  max-width: 1200px;
}
