#pp{
  max-width: 30vw;
  height: auto;
  border-radius: 10px;
  filter: grayscale(50%);
  margin-top: 2em;
}

#pp:hover{
  filter: blur(1px);
  border-radius: 20%;
}

.ColHeader{
  text-align: center;
}

.abcontainer{
  text-align: center;
  height: 80vh;
  width: 100vw;
}

.contactrow{
  padding-bottom: 10px;
}

.fa{
  color: black;
  padding: 0 15px;
}

.skillIcons{
  font-size: 5vh;
  display: inline-block;
  word-wrap: auto;
}

.skillIcons > *{
  padding-left: 10px;
}

p{
  font-size: 1.5em;
}

input, textarea{
  width: 80vw;
}

label{
  padding-right: 77vw;
}
